<html lang="en">
    <head>
      <title>Emails</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Email Validation</title>
    </head>
    <body>
    <h1>Email Checker:</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <hr>
    <div class="container"></div>
        <form action='/email' method='POST'>
            <label for="email">Email Address:<input type="text" name="email" id="email"></label>
            <input type="submit" value="Submit NOW!">
        </form>
    </div>
    </body>
    </html>
    