<!DOCTYPE html>
<html>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/ninja.css' %}"media="screen" title="no title" charset="utf-8">          
    <div class="wrapper">
            <title>Show User</title>
            <h1>Show User</h1>
            <p>Full Name:</p>
            <p>Email:</p>
            <p>Created at:</p>
            <a href="edit">Edit</a>
            <a href="delete">Delete</a>