.container {
	padding-top: 50px;
	width: 80%;
	margin: 0 auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

thead > tr {
	background-color: #808080;	
}

tr {
	text-align: center;
}

tbody > tr:nth-child(even) {
	background-color: #DCDCDC;
}

.form-container {
	width: 50%;
	margin: 0 auto;
}

.float {
	float: right;
	clear: both;
}

.input-size {
	width: 25%;
}

input[type=submit] {
	width: 20%;
}

.error {
	color: red
}

.left-auto {
	display: table;
	margin-left: auto;
	margin-right: 20%;
}

.left-auto > a {
	margin-right: 15px;
}
