<h1>New Question!</h1>
<button (click)="home()">Home</button>
<button (click)="logout()">Logout</button>
<form (submit)='onSubmit()' #formData='ngForm'>
  <p>Question: <input name='question' type='text' [(ngModel)] = 'question.question' required minlength="10"></p>
  <p>Description: <input name='description' type='text' [(ngModel)] = 'question.description'></p>
  <input type="submit" name="" value="Add Question!"  [disabled]="!formData.valid">
</form>
<button (click)="cancel()">Cancel!!</button>
  {{ formData.valid | json }}
