<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entered Information</title>
</head>
<body>
    <h1>Submitted Information</h1>
    <h3>Name:<%=users_array.name%></h3>
    <h3>Dojo Location:<%=users_array.location%></h3>
    <h3>Favorite Language:<%=users_array.language%></h3>
    <h3>Comment:<%=users_array.comment%></h3>
</body>
</html>