<html>
    <head>
        <title>Main Page</title>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
            <script type ="text/javascript">
                    $(document).ready(function(){
                        var count = 0;
                    var socket  = io.connect();
                    $('#add').click(function (data){
                        count +=1;
                        socket.emit( "button_clicked", count)
                        console.log(count)
                    });
                        $('#reset').click(function (data){
                            count = 0;   
                            socket.emit( "button_clicked", count);
                            console.log(count)
                        });
                        socket.on('server_response', function (count){
                            console.log(count)
                            document.getElementById("p1").innerHTML = count
                        })
                    });
            </script>
            <style>
                h1 {
                    color: wheat;
                    font-style: bold;
                }
            </style>
    </head>
    <body>
        <div id="form">
            <div id="Data">
                <h1 id="p1"></h1>
            </div>
            <form action='/users' method='POST'>
                <h2>Count:<p id="p1"></h2>
            </form>
            <button id="add">Add!</button>
            <button id="reset">Reset</button>
        </div>
    </body>
</html>
    