<html>
    <body>
        <div id="counter">
            <h2>Counter:</h2>
            <h3>Count:<%=count%> </h3>
        </div>
        <section>
                <aside>
                  <form action="/by-two" method='post'>
                    <input type="submit" value='+2'>
                  </form>
                </aside>
                <aside>
                    <form action="/reset" method='post'>
                        <input type="submit" value='Reset'>
                    </form>
                </aside>
    </body>
</html>
    